.App {
  text-align: center;
}
.form-cls{
  width:100%;
  margin:100px auto;
}
.poster-div {
  font-size: 20px;
  padding: 5px;
  display: inline-block;
  width:50%
}
.poster-div img{
  max-width: 200px;
  height: auto;
}

.form-cls input ,.form-cls button{
  height: 25px;
  margin: 10px 5px;
}
.poster-div button{
  margin: 10px 5px;
  padding: 10px;
}
.movie_details{
display: inline-block;
width: 200px;
font-weight: 600;
height: 50px;
background-color: brown;
color:white;
margin: 50px 10px ;
}